@page
@model TAApplication.Areas.Identity.Pages.AdminRolesControllerModel
@{
}

@using Microsoft.AspNetCore.Identity
@using TAApplication.Areas.Identity.Data
@using System.Diagnostics 

@inject SignInManager<TAUser> SignInManager
@inject UserManager<TAUser> UserManager
<head>
    <h1></h1>
    <h1>Edit User Roles Below.</h1>
    <h2></h2>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css%22%3F" />
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js%22%3F"</script>
    <script type="text/javascript">

    </script>
</head>
<body>
    <table id="datatable" class="default_table" onload="data_table()">
        <tr>
            <th class="th-sm">Name</th>
            <th class="th-sm">Administrator</th>
            <th class="th-sm">Professor</th>
            <th class="th-sm">Applicant</th>
        </tr>
        @{ 
            foreach (var user in UserManager.Users)
            {
                var id = user.Id;
                var role = await UserManager.GetRolesAsync(user);
                <tr>
                    <td>
                        <p>@user.Name</p>
                    </td>
                    <td>
                        <div class="custom-control custom-switch">
                            <input onchange="toggle_role('@id', '@role', this.value)" type="checkbox" class="custom-control-input" id=@($"switchAdmin{user.Id}") checked=@role.Contains("Administrator")>

                            <label class="custom-control-label" for=@($"switchAdmin{user.Id}")></label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-switch">
                            <input onchange="toggle_role('@id', '@role', @role.Contains("Professor"))" type="checkbox" class="custom-control-input" id=@($"switchProfessor{user.Id}") checked="@role.Contains("Professor")">
                            <label class="custom-control-label" for=@($"switchProfessor{user.Id}")></label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-switch">
                            <input onchange="toggle_role('@id', '@role', @role.Contains("Applicant"))" type="checkbox" class="custom-control-input" id=@($"switchApplicant{user.Id}") checked="@role.Contains("Applicant")">
                            <label class="custom-control-label" for=@($"switchApplicant{user.Id}")></label>
                        </div>
                    </td>
                </tr>
            }
        }
    </table>
</body>

@section Scripts
{
    <script src="~/js/ajax.js"></script>
}